// variables
$font-regular: "Open Sans", sans-serif;
$font-semi-bold: "Open Sans Semi-Bold", sans-serif;
$font-bold: "Open Sans Bold", sans-serif;
$color-primary: #00a7e0;
$subnav-color: #e4e2e2;
$nav-border-color: #707070;
$article-border-color: #e4e2e3;
$article-bottom-color: #f4f4f4;
$img-info-color: #077ba399;
$text-color: #343e48